{% load i18n %}

<nav class="pcoded-navbar">
    <div class="navbar-wrapper">
        <div class="navbar-brand header-logo">
                <span  class="b-brand">
                    <div class="b-bg">
                        <i class="far fa-chart-bar"></i>
                    </div>
                    <span class="b-title">Stemming-Vote.be</span>
                </span>
            <a class="mobile-menu" id="mobile-collapse" href="javascript:"><span></span></a>
        </div>
        <div class="navbar-content scroll-div">
            <ul class="nav pcoded-inner-navbar">

                {% get_current_language as LANGUAGE_CODE %}
                {% get_available_languages as LANGUAGES %}
                {% get_language_info_list for LANGUAGES as languages %}

                {% if user.is_authenticated %}

                <li class="nav-item pcoded-hasmenu">

                    <a href="javascript:" class="nav-link "><span class="pcoded-micon"><i class="feather icon-user"></i></span><span class="pcoded-mtext">{{ user.get_username }}</span></a>
                    <ul class="pcoded-submenu">
                        <li class=""><a href="{% url 'logout' %}" class=""><i class="feather icon-power"></i></span><span class="pcoded-mtext"> {% trans "Se déconnecter" %}</span></a></li>
                    </ul>
                </li>
                {% else %}
                <li class="nav-item">
                    <a href="{% url 'login' %}" class="nav-link "><span class="pcoded-micon"><i class="feather icon-log-in"></i></span><span class="pcoded-mtext">{% trans "Se connecter" %}</span></a>

                </li>
                {% endif %}
                <li class="nav-item pcoded-menu-caption">
                    <label>Navigation</label>
                </li>
                <li class="nav-item {% if 'index' in segment %} active {% endif %}">
                    <a href="/" class="nav-link "><span class="pcoded-micon"><i class="feather icon-home"></i></span><span class="pcoded-mtext">{% trans "Accueil" %}</span></a>
                </li>

                <li class="nav-item {% if 'seances' in segment %} active {% endif %}">
                    <a href="/seances/" class="nav-link "><span class="pcoded-micon"><i class="feather icon-inbox"></i></span><span class="pcoded-mtext">{% trans "Séances" %}</span></a>
                </li>

                <li class="nav-item {% if 'membres' in segment %} active {% endif %}">
                    <a href="/members/" class="nav-link "><span class="pcoded-micon"><i class="fas fa-users"></i></span><span class="pcoded-mtext">{% trans "Membres" %}</span></a>
                </li>

                <li class="nav-item {% if 'search' in segment %} active {% endif %}">
                    <a class="nav-link "><span class="pcoded-micon"><i class="feather icon-search"></i></span><span class="pcoded-mtext">{% trans "Recherche" %}</span></a>
                </li>

                <form style="max-width:90%; margin:auto;" action="{% url 'search_results' %}" method="get" >
                    <div class="form-group">
                        <input name="q" type="text" class="form-control form-control-sm" placeholder='{% trans "Chercher" %}"'>
                    </div>
                </form>
                <li class="fixed-bottom" style="margin: auto">

                    {% for language in languages %}

                    <form action="{% url 'set_language' %}" method="post" id="form_{{ language.code }}" style="display:inline!important;">
                        {% csrf_token %}
                        <input name="next" type="hidden" value="{{ redirect_to }}" />
                        <input name="language" type="hidden" value="{{ language.code }}" />
                    </form>
                    <button class=" btn btn-outline-light" type="submit" form="form_{{ language.code }}" value="Submit">
                        {% if language.code == 'fr' %}
                        FR
                        {% else %}
                        NL
                        {% endif %}
                    </button>
                    {% endfor %}
                </li>


                {% if request.user.is_superuser %}
                <li class="nav-item pcoded-menu-caption">
                    <label>Admin</label>
                </li>
                <li class="nav-item {% if 'admin_article' in segment %} active {% endif %}">
                    <a href="/admin_web/articles/" class="nav-link "><span class="pcoded-micon"><i class="feather icon-file-text"></i></span><span class="pcoded-mtext">Articles</span></a>
                </li>
                 <li class="nav-item {% if 'admin_tag' in segment %} active {% endif %}">
                    <a href="/admin_web/tags/" class="nav-link "><span class="pcoded-micon"><i class="feather icon-file-text"></i></span><span class="pcoded-mtext">Tags</span></a>
                </li>

                {% endif %}




            </ul>
        </div>
    </div>
</nav>
