# byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# tests and coverage
*.pytest_cache
.coverage

# database & logs
*.db
*.sqlite3
*.log

# venv
env
venv

# other
.DS_Store

# javascript
package-lock.json

staticfiles/*
!staticfiles/.gitkeep 
.vscode/symbols.json


# Specific files #
##################
.core/settings.py
.settings.py

.script_google_article.py
.script_parti_creation.py
.script_politicien_creation.py
.script_seances_creation.py
.script_set_parti_for_voter_without_parti.py
.script_vote_scraping.py