{% extends "layouts/base.html" %}
{% load staticfiles %}

{% block title %} Admin proposed articles {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static '/assets/css/politico_style.css' %}">

{% endblock stylesheets %}

{% block content %}

<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->

        <!-- [ breadcrumb ] end -->
        <div class="main-body">
            <div class="page-wrapper">
                <!-- [ Main Content ] start -->
                <div class="row">

                    <div class="card-block">
                        <!-- [ Hover-table ] start -->
                            <div class="card">
                                <div class="card-header">
                                    <h5>Articles</h5>
                                </div>
                                <div class="card-block table-border-style">
                                    <div class="table-responsive">
                                        <table class="table table-hover table-seance">
                                            <thead>
                                            <tr>
                                                <th>Article</th>
                                                <th>Point</th>
                                                <th><i class="feather icon-check"></i> FR</th>
                                                <th><i class="feather icon-check"></i> NL</th>
                                                <th><i class="feather icon-trash"></i></th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for article in articles %}
                                            <tr>
                                                <td><a href="{{ article.link_url }}">{{ article.link_url }}</a></td>
                                                <td><a href="/seance/{{article.voting_point.seance_id}}/{{ article.voting_point.id }}/0/">{{ article.voting_point.point_title_fr}}</a></td>
                                                <td><a href="/admin_web/article/{{ article.id }}/FR"><i class="feather icon-check"></i></a></td>
                                                <td><a href="/admin_web/article/{{ article.id }}/NL"><i class="feather icon-check"></i></a></td>
                                                <td><a href="/admin_web/article/{{ article.id }}/" ><i class="fa fa-trash"></i></a></td>
                                            </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                            </div>
                        </div>
                        <!-- [ Hover-table ] end -->
                    </div>

                </div>
                <!-- [ Main Content ] end -->
            </div>
        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
