{% extends "layouts/base.html" %}
{% load staticfiles %}

{% block title %} Membres / Kamerleden {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static '/assets/css/politico_style.css' %}">

{% endblock stylesheets %}

{% block content %}

<div class="pcoded-content">
    <div class="pcoded-inner-content">

        <div class="main-body">
            <div class="page-wrapper">
                <!-- [ Main Content ] start -->
                <div class="row">
                    <!-- [ tabs ] start -->
                    <div class="col-sm-12">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="CDV-tab" data-toggle="tab" href="#CDV" role="tab" aria-controls="CDV" aria-selected="true">CD&V</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="cdH-tab" data-toggle="tab" href="#cdH" role="tab" aria-controls="cdH" aria-selected="false">cdH</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="Defi-tab" data-toggle="tab" href="#Defi" role="tab" aria-controls="Defi" aria-selected="false">Défi</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="Ecolo-Groen-tab" data-toggle="tab" href="#Ecolo-Groen" role="tab" aria-controls="Ecolo-Groen" aria-selected="false">Ecolo-Groen</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="MR-tab" data-toggle="tab" href="#MR" role="tab" aria-controls="MR" aria-selected="false">MR</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="N-VA-tab" data-toggle="tab" href="#N-VA" role="tab" aria-controls="N-VA" aria-selected="false">N-VA</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="Open-Vld-tab" data-toggle="tab" href="#Open-Vld" role="tab" aria-controls="Open-Vld" aria-selected="false">Open-Vld</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="PS-tab" data-toggle="tab" href="#PS" role="tab" aria-controls="PS" aria-selected="false">PS</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="PVDA-PTB-tab" data-toggle="tab" href="#PVDA-PTB" role="tab" aria-controls="PVDA-PTB" aria-selected="false">PVDA-PTB</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="spa-tab" data-toggle="tab" href="#spa" role="tab" aria-controls="spa" aria-selected="false">sp.a</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="VB-tab" data-toggle="tab" href="#VB" role="tab" aria-controls="VB" aria-selected="false">VB</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="INDEP-tab" data-toggle="tab" href="#INDEP" role="tab" aria-controls="INDEP" aria-selected="false">INDEP</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="CDV" role="tabpanel" aria-labelledby="CDV-tab">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>Image</th>
                                            <th>Name</th>
                                            <th>Email</th>
                                            <th>page perso</th>
                                            <th>website</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for m in members %}
                                        {% if m.voter_parti.parti_name == "CD&V" %}
                                        <tr>
                                            <td>
                                                <div class="image-parent-decision-list">
                                                    <img src="{{ m.voter_image }}" class="img-thumbnail" alt="{{ voter.voter_name }}">
                                                </div>
                                            </td>
                                            <td class="align-middle list-decision-name"><a href="/members/{{m.id}}">{{ m.voter_name }}</a></td>
                                            <td class="align-middle list-decision-name">
                                                {% if m.voter_email %}
                                                {{ m.voter_email }}
                                                {% endif %}
                                            </td>
                                            <td class="align-middle list-decision-name">{% if m.voter_url %}

                                                <a href="{{ m.voter_url }}"><i class="feather icon-file-text"></i></a>
                                                {% endif %}
                                            </td>
                                            <td class="align-middle list-decision-name">
                                                {% if m.voter_website %}
                                                <a href="{{ m.voter_website }}"><i class="feather icon-globe"></i></a>
                                                {% endif %}
                                            </td>

                                        </tr>
                                        {% endif %}
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>


                            <div class="tab-pane fade" id="cdH" role="tabpanel" aria-labelledby="cdH-tab">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>Photo / Foto</th>
                                            <th>Nom / Naam</th>
                                            <th>Email</th>
                                            <th>Page / Pagina</th>
                                            <th>website</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for m in members %}
                                        {% if m.voter_parti.parti_name == "cdH" %}
                                        <tr>
                                            <td>
                                                <div class="image-parent-decision-list">
                                                    <img src="{{ m.voter_image }}" class="img-thumbnail" alt="{{ voter.voter_name }}">
                                                </div>
                                            </td>
                                            <td class="align-middle list-decision-name"><a href="/members/{{m.id}}">{{ m.voter_name }}</a></td>
                                            <td class="align-middle list-decision-name">
                                                {% if m.voter_email %}
                                                {{ m.voter_email }}
                                                {% endif %}
                                            </td>
                                            <td class="align-middle list-decision-name">{% if m.voter_url %}

                                                <a href="{{ m.voter_url }}"><i class="fas fa-university"></i></a>
                                                {% endif %}
                                            </td>
                                            <td class="align-middle list-decision-name">
                                                {% if m.voter_website %}
                                                <a href="{{ m.voter_website }}"><i class="fas fa-globe"></i></a>
                                                {% endif %}
                                            </td>

                                        </tr>
                                        {% endif %}
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>



                            <div class="tab-pane fade" id="Defi" role="tabpanel" aria-labelledby="Defi-tab">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>Image</th>
                                            <th>Name</th>
                                            <th>Email</th>
                                            <th>page perso</th>
                                            <th>website</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for m in members %}
                                        {% if m.voter_parti.parti_name == "Défi" %}
                                        <tr>
                                            <td>
                                                <div class="image-parent-decision-list">
                                                    <img src="{{ m.voter_image }}" class="img-thumbnail" alt="{{ voter.voter_name }}">
                                                </div>
                                            </td>
                                            <td class="align-middle list-decision-name"><a href="/members/{{m.id}}">{{ m.voter_name }}</a></td>
                                            <td class="align-middle list-decision-name">
                                                {% if m.voter_email %}
                                                {{ m.voter_email }}
                                                {% endif %}
                                            </td>
                                            <td class="align-middle list-decision-name">{% if m.voter_url %}

                                                <a href="{{ m.voter_url }}"><i class="fas fa-university"></i></a>
                                                {% endif %}
                                            </td>
                                            <td class="align-middle list-decision-name">
                                                {% if m.voter_website %}
                                                <a href="{{ m.voter_website }}"><i class="fas fa-globe"></i></a>
                                                {% endif %}
                                            </td>

                                        </tr>
                                        {% endif %}
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>                            </div>



                            <div class="tab-pane fade" id="Ecolo-Groen" role="tabpanel" aria-labelledby="Ecolo-Groen-tab">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>Image</th>
                                            <th>Name</th>
                                            <th>Email</th>
                                            <th>page perso</th>
                                            <th>website</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for m in members %}
                                        {% if m.voter_parti.parti_name == "Ecolo-Groen" %}
                                        <tr>
                                            <td>
                                                <div class="image-parent-decision-list">
                                                    <img src="{{ m.voter_image }}" class="img-thumbnail" alt="{{ voter.voter_name }}">
                                                </div>
                                            </td>
                                            <td class="align-middle list-decision-name"><a href="/members/{{m.id}}">{{ m.voter_name }}</a></td>
                                            <td class="align-middle list-decision-name">
                                                {% if m.voter_email %}
                                                {{ m.voter_email }}
                                                {% endif %}
                                            </td>
                                            <td class="align-middle list-decision-name">{% if m.voter_url %}

                                                <a href="{{ m.voter_url }}"><i class="fas fa-university"></i></a>
                                                {% endif %}
                                            </td>
                                            <td class="align-middle list-decision-name">
                                                {% if m.voter_website %}
                                                <a href="{{ m.voter_website }}"><i class="fas fa-globe"></i></a>
                                                {% endif %}
                                            </td>

                                        </tr>
                                        {% endif %}
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>                            </div>



                            <div class="tab-pane fade" id="MR" role="tabpanel" aria-labelledby="MR-tab">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>Image</th>
                                            <th>Name</th>
                                            <th>Email</th>
                                            <th>page perso</th>
                                            <th>website</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for m in members %}
                                        {% if m.voter_parti.parti_name == "MR" %}
                                        <tr>
                                            <td>
                                                <div class="image-parent-decision-list">
                                                    <img src="{{ m.voter_image }}" class="img-thumbnail" alt="{{ voter.voter_name }}">
                                                </div>
                                            </td>
                                            <td class="align-middle list-decision-name"><a href="/members/{{m.id}}">{{ m.voter_name }}</a></td>
                                            <td class="align-middle list-decision-name">
                                                {% if m.voter_email %}
                                                {{ m.voter_email }}
                                                {% endif %}
                                            </td>
                                            <td class="align-middle list-decision-name">{% if m.voter_url %}

                                                <a href="{{ m.voter_url }}"><i class="fas fa-university"></i></a>
                                                {% endif %}
                                            </td>
                                            <td class="align-middle list-decision-name">
                                                {% if m.voter_website %}
                                                <a href="{{ m.voter_website }}"><i class="fas fa-globe"></i></a>
                                                {% endif %}
                                            </td>

                                        </tr>
                                        {% endif %}
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>


                            <div class="tab-pane fade" id="N-VA" role="tabpanel" aria-labelledby="N-VA-tab">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>Image</th>
                                            <th>Name</th>
                                            <th>Email</th>
                                            <th>page perso</th>
                                            <th>website</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for m in members %}
                                        {% if m.voter_parti.parti_name == "N-VA" %}
                                        <tr>
                                            <td>
                                                <div class="image-parent-decision-list">
                                                    <img src="{{ m.voter_image }}" class="img-thumbnail" alt="{{ voter.voter_name }}">
                                                </div>
                                            </td>
                                            <td class="align-middle list-decision-name"><a href="/members/{{m.id}}">{{ m.voter_name }}</a></td>
                                            <td class="align-middle list-decision-name">
                                                {% if m.voter_email %}
                                                {{ m.voter_email }}
                                                {% endif %}
                                            </td>
                                            <td class="align-middle list-decision-name">{% if m.voter_url %}

                                                <a href="{{ m.voter_url }}"><i class="fas fa-university"></i></a>
                                                {% endif %}
                                            </td>
                                            <td class="align-middle list-decision-name">
                                                {% if m.voter_website %}
                                                <a href="{{ m.voter_website }}"><i class="fas fa-globe"></i></a>
                                                {% endif %}
                                            </td>

                                        </tr>
                                        {% endif %}
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <div class="tab-pane fade" id="Open-Vld" role="tabpanel" aria-labelledby="Open-Vld-tab">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>Image</th>
                                            <th>Name</th>
                                            <th>Email</th>
                                            <th>page perso</th>
                                            <th>website</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for m in members %}
                                        {% if m.voter_parti.parti_name == "Open Vld" %}
                                        <tr>
                                            <td>
                                                <div class="image-parent-decision-list">
                                                    <img src="{{ m.voter_image }}" class="img-thumbnail" alt="{{ voter.voter_name }}">
                                                </div>
                                            </td>
                                            <td class="align-middle list-decision-name"><a href="/members/{{m.id}}">{{ m.voter_name }}</a></td>
                                            <td class="align-middle list-decision-name">
                                                {% if m.voter_email %}
                                                {{ m.voter_email }}
                                                {% endif %}
                                            </td>
                                            <td class="align-middle list-decision-name">{% if m.voter_url %}

                                                <a href="{{ m.voter_url }}"><i class="fas fa-university"></i></a>
                                                {% endif %}
                                            </td>
                                            <td class="align-middle list-decision-name">
                                                {% if m.voter_website %}
                                                <a href="{{ m.voter_website }}"><i class="fas fa-globe"></i></a>
                                                {% endif %}
                                            </td>

                                        </tr>
                                        {% endif %}
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>



                            <div class="tab-pane fade" id="PS" role="tabpanel" aria-labelledby="PS-tab">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>Image</th>
                                            <th>Name</th>
                                            <th>Email</th>
                                            <th>page perso</th>
                                            <th>website</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for m in members %}
                                        {% if m.voter_parti.parti_name == "PS" %}
                                        <tr>
                                            <td>
                                                <div class="image-parent-decision-list">
                                                    <img src="{{ m.voter_image }}" class="img-thumbnail" alt="{{ voter.voter_name }}">
                                                </div>
                                            </td>
                                            <td class="align-middle list-decision-name"><a href="/members/{{m.id}}">{{ m.voter_name }}</a></td>
                                            <td class="align-middle list-decision-name">
                                                {% if m.voter_email %}
                                                {{ m.voter_email }}
                                                {% endif %}
                                            </td>
                                            <td class="align-middle list-decision-name">{% if m.voter_url %}

                                                <a href="{{ m.voter_url }}"><i class="fas fa-university"></i></a>
                                                {% endif %}
                                            </td>
                                            <td class="align-middle list-decision-name">
                                                {% if m.voter_website %}
                                                <a href="{{ m.voter_website }}"><i class="fas fa-globe"></i></a>
                                                {% endif %}
                                            </td>

                                        </tr>
                                        {% endif %}
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>


                            <div class="tab-pane fade" id="PVDA-PTB" role="tabpanel" aria-labelledby="PVDA-PTB-tab">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>Image</th>
                                            <th>Name</th>
                                            <th>Email</th>
                                            <th>page perso</th>
                                            <th>website</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for m in members %}
                                        {% if m.voter_parti.parti_name == "PVDA-PTB" %}
                                        <tr>
                                            <td>
                                                <div class="image-parent-decision-list">
                                                    <img src="{{ m.voter_image }}" class="img-thumbnail" alt="{{ voter.voter_name }}">
                                                </div>
                                            </td>
                                            <td class="align-middle list-decision-name"><a href="/members/{{m.id}}">{{ m.voter_name }}</a></td>
                                            <td class="align-middle list-decision-name">
                                                {% if m.voter_email %}
                                                {{ m.voter_email }}
                                                {% endif %}
                                            </td>
                                            <td class="align-middle list-decision-name">{% if m.voter_url %}

                                                <a href="{{ m.voter_url }}"><i class="fas fa-university"></i></a>
                                                {% endif %}
                                            </td>
                                            <td class="align-middle list-decision-name">
                                                {% if m.voter_website %}
                                                <a href="{{ m.voter_website }}"><i class="fas fa-globe"></i></a>
                                                {% endif %}
                                            </td>

                                        </tr>
                                        {% endif %}
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>                            </div>



                            <div class="tab-pane fade" id="spa" role="tabpanel" aria-labelledby="spa-tab">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>Image</th>
                                            <th>Name</th>
                                            <th>Email</th>
                                            <th>page perso</th>
                                            <th>website</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for m in members %}
                                        {% if m.voter_parti.parti_name == "sp.a" %}
                                        <tr>
                                            <td>
                                                <div class="image-parent-decision-list">
                                                    <img src="{{ m.voter_image }}" class="img-thumbnail" alt="{{ voter.voter_name }}">
                                                </div>
                                            </td>
                                            <td class="align-middle list-decision-name"><a href="/members/{{m.id}}">{{ m.voter_name }}</a></td>
                                            <td class="align-middle list-decision-name">
                                                {% if m.voter_email %}
                                                {{ m.voter_email }}
                                                {% endif %}
                                            </td>
                                            <td class="align-middle list-decision-name">{% if m.voter_url %}

                                                <a href="{{ m.voter_url }}"><i class="fas fa-university"></i></a>
                                                {% endif %}
                                            </td>
                                            <td class="align-middle list-decision-name">
                                                {% if m.voter_website %}
                                                <a href="{{ m.voter_website }}"><i class="fas fa-globe"></i></a>
                                                {% endif %}
                                            </td>

                                        </tr>
                                        {% endif %}
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>                            </div>


                            <div class="tab-pane fade" id="VB" role="tabpanel" aria-labelledby="VB-tab">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>Image</th>
                                            <th>Name</th>
                                            <th>Email</th>
                                            <th>page perso</th>
                                            <th>website</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for m in members %}
                                        {% if m.voter_parti.parti_name == "VB" %}
                                        <tr>
                                            <td>
                                                <div class="image-parent-decision-list">
                                                    <img src="{{ m.voter_image }}" class="img-thumbnail" alt="{{ voter.voter_name }}">
                                                </div>
                                            </td>
                                            <td class="align-middle list-decision-name"><a href="/members/{{m.id}}">{{ m.voter_name }}</a></td>
                                            <td class="align-middle list-decision-name">
                                                {% if m.voter_email %}
                                                {{ m.voter_email }}
                                                {% endif %}
                                            </td>
                                            <td class="align-middle list-decision-name">{% if m.voter_url %}

                                                <a href="{{ m.voter_url }}"><i class="fas fa-university"></i></a>
                                                {% endif %}
                                            </td>
                                            <td class="align-middle list-decision-name">
                                                {% if m.voter_website %}
                                                <a href="{{ m.voter_website }}"><i class="fas fa-globe"></i></a>
                                                {% endif %}
                                            </td>

                                        </tr>
                                        {% endif %}
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>                            </div>



                            <div class="tab-pane fade" id="INDEP" role="tabpanel" aria-labelledby="INDEP-tab">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>Image</th>
                                            <th>Name</th>
                                            <th>Email</th>
                                            <th>page perso</th>
                                            <th>website</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for m in members %}
                                        {% if m.voter_parti.parti_name == "INDEP" %}
                                        <tr>
                                            <td>
                                                <div class="image-parent-decision-list">
                                                    <img src="{{ m.voter_image }}" class="img-thumbnail" alt="{{ voter.voter_name }}">
                                                </div>
                                            </td>
                                            <td class="align-middle list-decision-name"><a href="/members/{{m.id}}">{{ m.voter_name }}</a></td>
                                            <td class="align-middle list-decision-name">
                                                {% if m.voter_email %}
                                                {{ m.voter_email }}
                                                {% endif %}
                                            </td>
                                            <td class="align-middle list-decision-name">{% if m.voter_url %}

                                                <a href="{{ m.voter_url }}"><i class="fas fa-university"></i></a>
                                                {% endif %}
                                            </td>
                                            <td class="align-middle list-decision-name">
                                                {% if m.voter_website %}
                                                <a href="{{ m.voter_website }}"><i class="fas fa-globe"></i></a>
                                                {% endif %}
                                            </td>

                                        </tr>
                                        {% endif %}
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>                            </div>








                        </div>
                    </div>


                    <!-- [ tabs ] end -->
                </div>
                <!-- [ Main Content ] end -->
            </div>
        </div>
    </div>
</div>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
