{% extends "layouts/base.html" %}
{% load i18n %}

{% block title %} Députés / Parlementslid {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="pcoded-content">
    <div class="pcoded-inner-content">

        <div class="main-body">
            <div class="page-wrapper">
                <!-- [ Main Content ] start -->
                <div class="row">
                    <div class="col-sm-4">
                        <div class="card">
                            <div class="card-header">
                                <h5>{{ voter.voter_name }}</h5>
                            </div>
                            <div class="card-block  text-center">
                                <img src="{{ voter.voter_image }}" />
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="card">
                             <div class="card-header">
                                <h5>{% trans "A propos" %}</h5>
                            </div>
                            <div class="card-block">
                                <ul class="list-group">
                                    <li  class="list-group-item">{{ voter.voter_email }}</li>
                                    <li  class="list-group-item"><a href="{{ voter.voter_url }}">{% trans "Lien vers lachambre.be" %}</a></li>
                                    <li  class="list-group-item"><a href="{{ voter.voter_website }}">{% trans "Mon site web" %}</a></li>
                                    <li  class="list-group-item">{% blocktrans %} J'ai voté {{ votes_count }} fois {% endblocktrans %} </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <h5>{% trans "Informations" %}</h5>
                            </div>
                            <div class="card-block">
                               <div class="card-block table-border-style">
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                              <th>{% trans "Séances" %}</th>
                                                <th>{% trans "Date" %}</th>
                                                <th>{% trans "Législature" %}</th>
                                                <th>{% trans "Texte" %}</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                        {% for seance in seances %}
                                            <tr>
                                                 <td><a href="/seance/{{ seance.id }}/">{{ seance.seance_name }}</a></td>
                                                <td>{{ seance.seance_date|date:'d/m/Y' }}</td>
                                                <td>{{ seance.seance_legislature }}</td>
                                                <td><a href={{ seance.seance_url }}><i class="feather icon-paperclip"/></td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- [ Main Content ] end -->
            </div>
        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
