{% extends "layouts/base.html" %}
{% load staticfiles %}
{% load i18n %}
{% block title %} Députés / Parlementslid {% endblock %}
{% load crispy_forms_tags %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}

<link rel="stylesheet" type="text/css" href="{% static '/assets/css/politico_style.css' %}">
{% endblock stylesheets %}

{% block content %}

<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="/members/">{% trans "Membres" %}</a></li>
                            <li class="breadcrumb-item">{{ voter.voter_name }}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <div class="main-body">
            <div class="page-wrapper">
                <!-- [ Main Content ] start -->
                <div class="row">
                    <div class="col-sm-4">
                        <div class="card">
                            <div class="card-header">
                                <h5>{{ voter.voter_name }}</h5>
                            </div>
                            <div class="card-block  text-center">
                                <img class="member_picture" src="{% static 'assets/images/politico/politicians/'|add:voter.voter_image %}" alt="{{ voter.voter_name }}" />
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="card">
                            <div class="card-header">
                                <h5>{% trans "A propos" %}</h5>
                            </div>
                            <div class="card-block">
                                <ul class="list-group">
                                    {% if voter.voter_email %}
                                    <li  class="list-group-item">{{ voter.voter_email }}</li>
                                    {% endif %}

                                    {% if voter.voter_url %}
                                    <li  class="list-group-item"><a href="{{ voter.voter_url }}">{% trans "Lien vers lachambre.be" %}</a></li>
                                    {% endif %}

                                    {% if voter.voter_website %}
                                    <li  class="list-group-item"><a href="{{ voter.voter_website }}">{% trans "Site web" %}</a></li>
                                    {% endif %}

                                    <li  class="list-group-item">{% blocktrans %} A voté {{ votes_count }} fois dans la législature 55. {% endblocktrans %} </li>
                                    <li  class="list-group-item">{% blocktrans %} A participé à {{ number_of_seances }} sur {{ total_seances_55 }} séances analysées {% endblocktrans %} ({{ participation_pourcent }}%) </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                {% if user.is_authenticated %}

                <div>
                    {% if success == 1 %}
                    <div class="alert alert-success" role="alert">
                        {{ msg }}
                    </div>
                    {% elif success == 0 %}
                    <div class="alert alert-danger" role="alert">
                        {{ msg }}
                    </div>

                    {% endif %}
                </div>
                <div class="row">
                    <div class="col-md-3 col-sm-12">
                        <ul class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                            <li><a class="nav-link text-left active" id="v-pills-article-tab" data-toggle="pill" href="#v-pills-article" role="tab" aria-controls="v-pills-article" aria-selected="true">{% trans "Proposer un article" %}</a></li>
                        </ul>
                    </div>
                    <div class="col-md-9 col-sm-12">
                        <div class="tab-content" id="v-pills-tabContent">
                            <div class="tab-pane fade show active" id="v-pills-article" role="tabpanel" aria-labelledby="v-pills-article-tab">
                                <form method="post">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        {{ form_article.article_url|as_crispy_field }}
                                    </div>
                                    <button type="submit" name="article_submit" class="btn btn-primary mb-2">{% trans "Proposer" %}</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                {% endif %}
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <h5>{% trans "Informations" %}</h5>
                            </div>
                            <div class="card-block">
                                <ul class="nav nav-tabs" id="myTab" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active text-uppercase" id="seances-tab" data-toggle="tab" href="#seances" role="tab" aria-controls="seances" aria-selected="true">{% trans "Participé à:" %}</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-uppercase" id="voted-yes-tab" data-toggle="tab" href="#voted-yes" role="tab" aria-controls="voted-yes" aria-selected="false">{% trans "Voté oui pour:" %}</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-uppercase" id="voted-no-tab" data-toggle="tab" href="#voted-no" role="tab" aria-controls="voted-no" aria-selected="false">{% trans "Voté non pour:" %}</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-uppercase" id="voted-abs-tab" data-toggle="tab" href="#voted-abs" role="tab" aria-controls="voted-abs" aria-selected="false">{% trans "Voté abstention pour:" %}</a>
                                    </li>
                                </ul>

                                <div class="tab-content" id="myTabContent">

                                    <div class="tab-pane fade show active" id="seances" role="tabpanel" aria-labelledby="seances-tab">
                                        <div class="table-responsive">
                                            <table class="table table-hover table-seance">
                                                <thead>
                                                <tr>
                                                    <th>{% trans "Séances" %}</th>
                                                    <th>{% trans "Date" %}</th>
                                                    <th>{% trans "Législature" %}</th>
                                                    <th>{% trans "Texte" %}</th>
                                                </tr>
                                                </thead>
                                                <tbody>

                                                {% for seance in seances %}
                                                <tr>
                                                    <td><a href="/seances/seance/{{ seance.id }}/">{{ seance.seance_name }}</a></td>
                                                    <td>{{ seance.seance_date|date:'d/m/Y' }}</td>
                                                    <td>{{ seance.seance_legislature }}</td>
                                                    <td><a href={{ seance.seance_url }}><i class="feather icon-paperclip"/></a></td>
                                                </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                    <div class="tab-pane fade" id="voted-yes" role="tabpanel" aria-labelledby="voted-yes-tab">

                                        <div class="table-responsive">
                                            <table class="table table-hover table-seance">
                                                <thead>
                                                <tr>
                                                    <th>{% trans "Point" %}</th>
                                                    <th>{% trans "Séance" %}</th>

                                                </tr>
                                                </thead>
                                                <tbody>

                                                {% for point in voted_yes_for %}
                                                <tr >
                                                    {% if point.amendement == None %}
                                                    <td class="td-voted"><a href="/seances/seance/{{point.seance.id}}/{{ point.voting_point.id }}/0/">{{ point.voting_point.point_title_fr }}</a></td>
                                                    {% else %}
                                                    <td class="td-voted"><a href="/seances/seance/{{point.seance.id}}/{{ point.amendement.id }}/1/">{{ point.amendement.title_fr }}</a></td>
                                                    {% endif %}
                                                    <td>
                                                        <a href="/seances/seance/{{ point.seance.id }}/">{{ point.seance.seance_name }}</a>
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>

                                    </div>

                                    <div class="tab-pane fade" id="voted-no" role="tabpanel" aria-labelledby="voted-no-tab">
                                        <div class="table-responsive">
                                            <table class="table table-hover table-seance">
                                                <thead>
                                                <tr>
                                                    <th>{% trans "Point" %}</th>
                                                    <th>{% trans "Séance" %}</th>

                                                </tr>
                                                </thead>
                                                <tbody>

                                                {% for point in voted_no_for %}
                                                <tr>
                                                    {% if point.amendement == None %}
                                                    <td class="td-voted"><a href="/seances/seance/{{point.seance.id}}/{{ point.voting_point.id }}/0/">{{ point.voting_point.point_title_fr }}</a></td>
                                                    {% else %}
                                                    <td class="td-voted"><a href="/seances/seance/{{point.seance.id}}/{{ point.amendement.id }}/1/">{{ point.amendement.title_fr }}</a></td>
                                                    {% endif %}
                                                    <td>
                                                        <a href="/seances/seance/{{ point.seance.id }}/">{{ point.seance.seance_name }}</a>
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                    <div class="tab-pane fade" id="voted-abs" role="tabpanel" aria-labelledby="voted-abs-tab">
                                        <div class="table-responsive">
                                            <table class="table table-hover">
                                                <thead>
                                                <tr>
                                                    <th>{% trans "Point" %}</th>
                                                    <th>{% trans "Séance" %}</th>
                                                </tr>
                                                </thead>
                                                <tbody>

                                                {% for point in voted_abs_for %}
                                                <tr>
                                                    {% if point.amendement == None %}
                                                    <td class="td-voted"><a href="/seances/seance/{{point.seance.id}}/{{ point.voting_point.id }}/0/">{{ point.voting_point.point_title_fr }}</a></td>
                                                    {% else %}
                                                    <td class="td-voted"><a href="/seances/seance/{{point.seance.id}}/{{ point.amendement.id }}/1/">{{ point.amendement.title_fr }}</a></td>
                                                    {% endif %}
                                                    <td>
                                                        <a href="/seances/seance/{{ point.seance.id }}/">{{ point.seance.seance_name }}</a>
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- [ Main Content ] end -->
            </div>
        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
