{% extends "../layouts/base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block title %} Séances / Vergaderingen {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}

<link rel="stylesheet" type="text/css" href="{% static '/assets/css/politico_style.css' %}">


{% endblock stylesheets %}

{% block content %}

<div class="pcoded-content">
    <div class="pcoded-inner-content">
         <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                            <li class="breadcrumb-item">{% trans "Séances" %}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <div class="main-body">
            <div class="page-wrapper">
                <!-- [ Main Content ] start -->
                <div class="row">
                    <!-- [ Hover-table ] start -->
                    <div class="col-xl-12">
                        <div class="card">
                            <div class="card-header">
                                    <h5>{% trans "Séances plénieres" %}</h5>
                            </div>
                            <div class="card-block table-border-style">
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th>{% trans "Séances" %}</th>
                                                <th>{% trans "Date" %}</th>
                                                <th>{% trans "Législature" %}</th>
                                                <th>{% trans "Texte" %} </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for seance in seances %}
                                            <tr>
                                                <td><a href="/seances/seance/{{ seance.id }}/">{{ seance.seance_name }}</a></td>
                                                <td>{{ seance.seance_date|date:'d/m/Y' }}</td>
                                                <td>{{ seance.seance_legislature }}</td>
                                                <td><a href={{ seance.seance_url }}><i class="feather icon-paperclip"/></td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- [ Hover-table ] end -->

                </div>
                <!-- [ Main Content ] end -->
            </div>
        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
