{% extends "layouts/base.html" %}
{% load staticfiles %}
{% load i18n %}


{% block title %} Vote / Stemming {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<link rel="stylesheet" href="/static/assets/plugins/chart-morris/css/morris.css">
<link rel="stylesheet" type="text/css" href="{% static '/assets/css/politico_style.css' %}">

{% endblock stylesheets %}

{% block content %}

{% get_current_language as LANGUAGE_CODE %}

<div class="pcoded-content">
    <div class="pcoded-inner-content">


        <div class="main-body">
            <div class="page-wrapper">
                <!-- [ Main Content ] start -->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <h5>{{ seance.seance_name }} - {{ seance.seance_date|date:'d/m/Y' }}</h5>
                            </div>
                        </div>
                    </div>
                </div>


                {% if is_amendement == 1 %}
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-block">
                                {% if LANGUAGE_CODE == 'fr' %}
                                {{ voting_point_of_amendement.point_title_fr }}
                                {% else %}
                                {{ voting_point_of_amendement.point_title_nl }}
                                {% endif %}

                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-block">
                                {% if is_amendement == 0 %}
                                {% if LANGUAGE_CODE == 'fr' %}
                                {{ voting_point.point_title_fr }}
                                {% else %}
                                {{ voting_point.point_title_nl }}
                                {% endif %}
                                {% else %}
                                <!-- could add the point linked to the amendment -->
                                {% if LANGUAGE_CODE == 'fr' %}
                                {{ voting_point.title_fr }}
                                {% else %}
                                {{ voting_point.title_nl }}
                                {% endif %}
                                {% endif %}

                            </div>
                        </div>
                    </div>
                </div>
                {% if total != -1 %}
                <!-- this means we have a voting point for this point and not only amendemant -->
                <div class="row">
                    <div class="col-xl-5">
                        <div class="card">
                            <div class="card-header">
                                <h5>{% blocktrans %}Total : {{ total }} {% endblocktrans %} </h5>
                            </div>
                            <div class="card-block">
                                <div id="morris-bar-chart" style="height:300px"></div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-7">
                        <div class="card">
                            <div class="card-header">
                                <h5>{% trans "Articles sur le sujet" %}</h5>
                            </div>
                            <div class="card-block">
                                <div style="height:300px"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <!-- [ Morris Chart ] start -->

                    <div class="col-xl-12">
                        <div class="card">
                            <div class="card-header">
                                <h5>{% trans "Votes par parti" %}</h5>
                            </div>
                            <div class="card-block">
                                <div id="morris-bar-stacked-chart" style="height:300px"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div  class="accordion" id="accordionExample">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h5 class="mb-0"><a href="#!" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">{% trans "Montrer les votes individuels" %}</a></h5>
                        </div>
                        <div id="collapseOne" class=" card-body collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                            <div>
                                <ul class="nav nav-tabs" id="myTab" role="tablist">
                                    {% for parti in decisions_by_parti %}
                                    <li class="nav-item">
                                        <a class="nav-link {% if forloop.counter0 == 0 %}active {% endif %}" id="{{parti.4}}-tab" data-toggle="tab" href="#{{parti.4}}" role="tab" aria-controls="{{parti.4}}" aria-selected="true">{{ parti.0 }}</a>
                                    </li>
                                    {% endfor %}
                                </ul>
                                <div class="tab-content" id="myTabContent">
                                    {% for parti in decisions_by_parti %}
                                    <div class="tab-pane fade show {% if forloop.counter0 == 0 %}active {% endif %}" id="{{ parti.4 }}" role="tabpanel" aria-labelledby="{{parti.4}}-tab">
                                        <div class="row">

                                            <div class="col-xl-4 col-sm-12">
                                                <ul>
                                                    <li class="list-group-item active list-decision-title-cell-yes"><h3 class="list-decision-title">{% trans "Oui" %}</h3></li>
                                                    {% for voter in parti.1 %}
                                                    <li class="list-group-item d-flex justify-content-between align-items-center list-decision-name">
                                                        {{ voter.voter_name }}
                                                        <div class="image-parent-decision-list">
                                                            <img src="{{ voter.voter_image }}" class="img-thumbnail" alt="{{ voter.voter_name }}">
                                                        </div>
                                                    </li>
                                                    {% endfor %}
                                                </ul>
                                            </div>

                                            <div class="col-xl-4 col-sm-12">
                                                <ul>
                                                    <li class="list-group-item active list-decision-title-cell-no"><h3 class="list-decision-title">{% trans "Non" %}</h3></li>
                                                    {% for voter in parti.2 %}
                                                    <li class="list-group-item d-flex justify-content-between align-items-center list-decision-name">
                                                        {{ voter.voter_name }}
                                                        <div class="image-parent-decision-list">
                                                            <img src="{{ voter.voter_image }}" class="img-thumbnail" alt="{{ voter.voter_name }}">
                                                        </div>
                                                    </li>
                                                    {% endfor %}
                                                </ul>
                                            </div>


                                            <div class="col-xl-4 col-sm-12">
                                                <div class="decision_heading"></div>
                                                <ul>
                                                    <li class="list-group-item active list-decision-title-cell-abs"><h3 class="list-decision-title">{% trans "Abstention" %}</h3></li>
                                                    {% for voter in parti.3 %}
                                                    <li class="list-group-item d-flex justify-content-between align-items-center list-decision-name">
                                                        {{ voter.voter_name }}
                                                        <div class="image-parent-decision-list">
                                                            <img src="{{ voter.voter_image }}" class="img-thumbnail" alt="{{ voter.voter_name }}">
                                                        </div>
                                                    </li>
                                                    {% endfor %}
                                                </ul>
                                            </div>


                                        </div>
                                    </div>

                                    {% endfor %}








                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% else %}

                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-block">
                                <h5>{% trans "Pas de vote pour ce point, uniquement des amendements y sont liés." %}</h5>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- [ Hover-table ] start -->
                <div class="row">
                    <div class="col-xl-12">
                        <div class="card">
                            <div class="card-header">
                                <h5>{% trans "Amendements" %}</h5>
                            </div>
                            <div class="card-block table-border-style">
                                <div class="table-responsive">
                                    <table class="table table-hover table-seance">
                                        <thead>
                                        <tr>
                                            <th>{% trans "Amendement" %}</th>
                                            <th>{% trans "Oui" %}</th>
                                            <th>{% trans "Non" %}</th>
                                            <th>{% trans "Abstention" %}</th>
                                        </tr>
                                        </thead>
                                        <tbody>

                                        {% for amendement in voting_point.amendement_set.all %}
                                        <tr>
                                            <td>
                                                <a href="/seance/{{ amendement.seance_id }}/{{amendement.id}}/1/">
                                                    <p>
                                                    {% if LANGUAGE_CODE == 'fr' %}
                                                    {{ amendement.title_fr }}
                                                    {% else %}
                                                    {{ amendement.title_nl }}
                                                    {% endif %}
                                                </p>
                                                </a>
                                            </td>
                                            <td>{{ amendement.totalvote_set.first.number_of_oui }}</td>
                                            <td>{{ amendement.totalvote_set.first.number_of_non }}</td>
                                            <td>{{ amendement.totalvote_set.first.number_of_abstention }}</td>
                                        </tr>
                                        {% endfor %}

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- [ Hover-table ] end -->


                <div class="row">
                    <div class="col-xl-12">
                        <div class="card">
                            <div class="card-block">
                                <h5>{% trans "Articles sur le sujet" %}</h5>
                            </div>
                            <div class="card-block">
                                <div style="height:300px"></div>
                            </div>
                        </div>
                    </div>
                </div>


                {% endif %}


                <!-- [ Main Content ] end -->
            </div>
        </div>
    </div>
</div>
</div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}


<script src="/static/assets/plugins/chart-morris/js/raphael.min.js"></script>
<script src="/static/assets/plugins/chart-morris/js/morris.min.js"></script>


<script>
'use strict';
$(document).ready(function() {
    setTimeout(function() {
    // [ bar-simple ] chart start
    Morris.Bar({
        element: 'morris-bar-chart',
        data: [
    {vote: 'Oui / Ja', value: "{{ voting_point.totalvote_set.first.number_of_oui }}"},
    {vote: 'Non / Nee', value:"{{ voting_point.totalvote_set.first.number_of_non }}"},
    {vote: 'Abstention / Onthouding', value: "{{ voting_point.totalvote_set.first.number_of_abstention }}"}
  ],
  xkey: 'vote',
  ykeys: ['value'],
  labels: [''],
  barRatio: 0.4,
  hideHover: 'auto',
  barColors: function (row, series, type) {
    if(row.label == "Oui / Ja") return "0-#1de9b6-#d0faf0";
    else if(row.label == "Non / Nee") return "0-#ff3b3b-#ffc4c4";
    else if(row.label == "Abstention / Onthouding") return "0-#04a9f5-#bfeafe";
  }
    });
    // [ bar-simple ] chart end
        }, 700);
});
</script>


<script>
    'use strict';
$(document).ready(function() {
    var jsonObject = JSON.parse('{{ stack_chart_json | escapejs }}');

    setTimeout(function() {
// [ bar-stacked ] chart start
    Morris.Bar({
        element: 'morris-bar-stacked-chart',
        data: jsonObject,
        xkey: 'y',
        xLabelAngle: 90,
        stacked: true,
        barSizeRatio: 0.50,
        barGap: 1,
        resize: true,
        responsive:true,
        ykeys: ['Oui / Ja', 'Non / Nee', 'Abstention / Onthouding'],
        labels: ['Oui / Ja', 'Non / Nee', 'Abstention / Onthouding'],
         barColors: ["0-#1de9b6-#d0faf0", "0-#ff3b3b-#ffc4c4", "0-#04a9f5-#bfeafe"]

    });
    // [ bar-stacked ] chart end
        }, 700);
});
</script>

{% endblock javascripts %}
