td {
  white-space: normal !important;
  word-wrap: break-word;

}


.theme-bg2{
    background: linear-gradient(-135deg, #FD706B 0%, #C23A22 100%) !important;
    color: #585858 !important;
}

.theme-bg{
    background: linear-gradient(-135deg, #FFFB05 0%, #FFB805 100%) !important;
    color: #585858 !important;
}

.theme-bg3{
    background: linear-gradient(-135deg, #ddd 0%, #fff 100%) !important;
    color: #585858 !important;
}

.article-fr{
color: #FFB805;
}

.article-nl{
color: #C23A22;
}

h1 { font-size: 1.3em; }
h2 { font-size: 1.1em; }

.td-voted{
width: 70%;
}

.list-decision-title{
    color: white !important;
}

.list-decision-name{
  font-size: large !important;
}

.list-decision-title-cell-yes{
  background-image: linear-gradient(to right, #1de9b6 , #d0faf0) !important;
  border: 1px solid rgba(0,0,0,.125) !important;
}

.list-decision-title-cell-no{
  background-image: linear-gradient(to right, #ff3b3b , #ffc4c4) !important;
  border: 1px solid rgba(0,0,0,.125) !important;
}

.list-decision-title-cell-abs{
  background-image: linear-gradient(to right, #04a9f5 , #bfeafe) !important;
  border: 1px solid rgba(0,0,0,.125) !important;
}
.image-parent-decision-list{
    max-width: 100px;
}



svg { overflow: visible !important; }

#btn-fr, #btn-nl{
cursor: pointer;
}


.member_picture{
    max-width: 150px;

}

.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

.sidebar a.active {
  background-color: #4CAF50;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}


.pre_next{

  font-size: large;
}


ul.cloud {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  line-height: 2.75rem;
  width: 450px;
}

ul.cloud a {
  /*
  Not supported by any browser at the moment :(
  --size: attr(data-weight number);
  */
  --size: 4;
  --color: #a33;
  color: var(--color);
  font-size: calc(var(--size) * 0.25rem + 0.5rem);
  display: block;
  padding: 0.125rem 0.25rem;
  position: relative;
  text-decoration: none;
  /*
  For different tones of a single color
  opacity: calc((15 - (9 - var(--size))) / 15);
  */
}

ul.cloud a[data-weight="1"] { --size: 1; }
ul.cloud a[data-weight="2"] { --size: 2; }
ul.cloud a[data-weight="3"] { --size: 3; }
ul.cloud a[data-weight="4"] { --size: 4; }
ul.cloud a[data-weight="5"] { --size: 6; }
ul.cloud a[data-weight="6"] { --size: 8; }
ul.cloud a[data-weight="7"] { --size: 10; }
ul.cloud a[data-weight="8"] { --size: 13; }
ul.cloud a[data-weight="9"] { --size: 16; }

ul[data-show-value] a::after {
  content: " (" attr(data-weight) ")";
  font-size: 1rem;
}

ul.cloud li:nth-child(2n+1) a { --color: #181; }
ul.cloud li:nth-child(3n+1) a { --color: #33a; }
ul.cloud li:nth-child(4n+1) a { --color: #c38; }

ul.cloud a:focus {
  outline: 1px dashed;
}

ul.cloud a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 0;
  height: 100%;
  background: var(--color);
  transform: translate(-50%, 0);
  opacity: 0.15;
  transition: width 0.25s;
}

ul.cloud a:focus::before,
ul.cloud a:hover::before {
  width: 100%;
}

@media (prefers-reduced-motion) {
  ul.cloud * {
    transition: none !important;
  }
}