td {
  white-space: normal !important;
  word-wrap: break-word;

}


.theme-bg2{
    background: linear-gradient(-135deg, #FD706B 0%, #C23A22 100%) !important;
    color: #585858 !important;
}

.theme-bg{
    background: linear-gradient(-135deg, #FFFB05 0%, #FFB805 100%) !important;
    color: #585858 !important;
}


h1 { font-size: 1.3em; }
h2 { font-size: 1.1em; }

.td-voted{
width: 70%;
}

.list-decision-title{
    color: white !important;
}

.list-decision-name{
  font-size: large !important;
}

.list-decision-title-cell-yes{
  background-image: linear-gradient(to right, #1de9b6 , #d0faf0) !important;
  border: 1px solid rgba(0,0,0,.125) !important;
}

.list-decision-title-cell-no{
  background-image: linear-gradient(to right, #ff3b3b , #ffc4c4) !important;
  border: 1px solid rgba(0,0,0,.125) !important;
}

.list-decision-title-cell-abs{
  background-image: linear-gradient(to right, #04a9f5 , #bfeafe) !important;
  border: 1px solid rgba(0,0,0,.125) !important;
}
.image-parent-decision-list{
    max-width: 100px;
}



svg { overflow: visible !important; }

#btn-fr, #btn-nl{
cursor: pointer;
}


.member_picture{
    max-width: 150 px;

}
