{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->

        <!-- [ breadcrumb ] end -->
        <div class="main-body">
            <div class="page-wrapper">
                <!-- [ Main Content ] start -->
                <div class="row">
                    <!--[ daily sales section ] start-->
                    <div class="col-md-6 col-xl-4">
                        <div class="card daily-sales">
                            <div class="card-block">
                                <h6 class="mb-4">Nombre de séances analysées / Aantal geanalyseerde sessies</h6>
                                <div class="row d-flex align-items-center">
                                    <div class="col-9">
                                        <h3 class="f-w-300 d-flex align-items-center m-b-0"><i class="feather icon-file-text text-c-green f-30 m-r-10"></i>84</h3>
                                    </div>

                                    <div class="col-3 text-right">
                                        <p class="m-b-0"></p>
                                    </div>
                                </div>
                                <div class="progress m-t-30" style="height: 7px;">
                                    <div class="progress-bar progress-c-theme" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--[ daily sales section ] end-->
                    <!--[ Monthly  sales section ] starts-->
                    <div class="col-md-6 col-xl-4">
                        <div class="card Monthly-sales">
                            <div class="card-block">
                                <h6 class="mb-4">Nombre de votes passés / Stemgedrag in het verleden.</h6>
                                <div class="row d-flex align-items-center">
                                    <div class="col-9">
                                        <h3 class="f-w-300 d-flex align-items-center  m-b-0"><i class="feather icon-mail text-c-red f-30 m-r-10"></i>{{ total_votes_count }}</h3>
                                    </div>
                                    <div class="col-3 text-right">
                                        <p class="m-b-0"></p>
                                    </div>
                                </div>
                                <div class="progress m-t-30" style="height: 7px;">
                                    <div class="progress-bar progress-c-theme2" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--[ Monthly  sales section ] end-->
                    <!--[ year  sales section ] starts-->
                    <div class="col-md-12 col-xl-4">
                        <div class="card yearly-sales">
                            <div class="card-block">
                                <h6 class="mb-4">Nombre de politiciens qui ont votés / Aantal politici dat heeft gestemd</h6>
                                <div class="row d-flex align-items-center">
                                    <div class="col-9">
                                        <h3 class="f-w-300 d-flex align-items-center  m-b-0"><i class="feather icon-user text-c-green f-30 m-r-10"></i>{{ voters }}</h3>
                                    </div>
                                    <div class="col-3 text-right">
                                        <p class="m-b-0">100%</p>
                                    </div>
                                </div>
                                <div class="progress m-t-30" style="height: 7px;">
                                    <div class="progress-bar progress-c-theme" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--[ year  sales section ] end-->
                    <!--[ Recent Users ] start-->
                    <div class="col-xl-8 col-md-6">
                        <div class="card Recent-Users">
                            <div class="card-header">
                                <h5>Séances récentes / Recente zittingen</h5>
                            </div>
                            <div class="card-block px-0 py-3">
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <tbody>
                                        {% for seance in seances %}
                                        <tr>
                                            <td><a href="/seance/{{ seance.id }}/">{{ seance.seance_name }}</a></td>
                                            <td>{{ seance.seance_date|date:'d/m/Y' }}</td>
                                            <td>{{ seance.seance_legislature }}</td>
                                            <td><a href={{ seance.seance_url }}><i class="feather icon-paperclip"/></a></td>
                                        </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--[ Recent Users ] end-->

                    <!-- [ statistics year chart ] start -->
                    <div class="col-xl-4 col-md-6">
                        <div class="card card-event">
                            <div class="card-block">
                                <div class="row align-items-center justify-content-center">
                                    <div class="col">
                                        <h5 class="m-0">Pour le futur</h5>
                                    </div>
                                </div>
                                <ul class="list-group">
                                    <li class="list-group-item">Ajouter des tags sur les points.</li>
                                    <li class="list-group-item">Ajouter la possibilité de commenter.</li>
                                    <li class="list-group-item">Lier des articles aux points votés.</li>
                                    <li class="list-group-item">Rendre possible de mettre un point en avant pour être en page d'accueil.</li>
                                    <li class="list-group-item">Analyser les autres législatures.</li>
                                    <li class="list-group-item">Analyser les autres niveaux de pouvoir.</li>
                                </ul>
                            </div>
                        </div>
                        <div class="card card-event">
                            <div class="card-block">
                                <div class="row align-items-center justify-content-center">
                                    <div class="col">
                                        <h5 class="m-0">Voor de toekomst</h5>
                                    </div>
                                </div>
                                <ul class="list-group">
                                    <li class="list-group-item">Tags toevoegen aan de punten.</li>
                                    <li class="list-group-item">Voeg de mogelijkheid toe om commentaar te geven.</li>
                                    <li class="list-group-item">Koppel artikelen aan gestemde artikelen.</li>
                                    <li class="list-group-item">Maak het mogelijk om een punt naar voren te schuiven om op de startpagina te komen.</li>
                                    <li class="list-group-item">Analyseer andere wetgevende machten.</li>
                                    <li class="list-group-item">Analyseer andere niveaus van macht.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- [ statistics year chart ] end -->
                    <!--[social-media section] start-->
                    <div class="col-md-12 col-xl-8">
                        <div class="card">
                            <div class="card-block border-bottom">
                                <div class="row align-items-center justify-content-center">
                                    <h3>Pourquoi ce site ? / Waarom deze website? </h3>
                                </div>
                            </div>
                            <div class="card-block">
                                <div class="row align-items-center justify-content-center card-active">
                                    <p>Je veux simplement montrer qui a voté pour quoi afin que tout le monde, lors des élections, puisse facilement avoir accès à ce informations plus qu'importantes.
                                        Ici, vous pouvez voir pour quel sujet les politiciens ont voté et vous avez la répartition par parti.
                                        L'idée est donc simplement d'amener une information de la manière la plus visible possible.
                                        Beaucoup de choses se passent juste en face de nous, mais les moyens d'y avoir accès sont fastidieux et découragent vite les gens.

                                    </p><hr>
                                    <p>
                                        Ik wil alleen laten zien wie waarvoor heeft gestemd, zodat iedereen bij de verkiezingen gemakkelijk toegang heeft tot deze zeer belangrijke informatie.
                                        Hier kunt u zien welke politici hebben gestemd en u hebt de verdeling per partij.
                                        Het idee is dus gewoon om informatie op een zo zichtbaar mogelijke manier te brengen.
                                        Er gebeurt van alles recht voor onze neus, maar de middelen om er toegang toe te krijgen zijn omslachtig en ontmoedigen mensen snel.

                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-4">
                       <div class="card">
                            <div class="card-block border-bottom">
                                <div class="row align-items-center justify-content-center">
                                    <h3>Qui suis-je ? / Wie ben ik?</h3>
                                </div>
                            </div>
                            <div class="card-block">
                                <div class="row align-items-center justify-content-center card-active">
                                    <p>Juste un développeur qui veut s'investir plus dans notre pays. Vous pouvez me contacter à elalaoui87@gmail.com</p><hr>
                                    <p>Gewoon een ontwikkelaar die meer betrokken wil raken bij ons land. Je kunt me bereiken op elalaoui87@gmail.com</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--[social-media section] end-->



                </div>
                <!-- [ Main Content ] end -->
            </div>
        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
