{% extends "layouts/base.html" %}
{% load i18n %}
{% block title %} Dashboard {% endblock %}
{% load staticfiles %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}

<link rel="stylesheet" type="text/css" href="{% static '/assets/css/politico_style.css' %}">

{% endblock stylesheets %}

{% block content %}

{% get_current_language as LANGUAGE_CODE %}

<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->

        <!-- [ breadcrumb ] end -->
        <div class="main-body">
            <div class="page-wrapper">
                <!-- [ Main Content ] start -->
                <div class="row">
                    <div class="col-xl-8">
                        <div class="card">
                            <div class="card-header">
                                <h5>{% trans "Points mis en avant par les utilisateurs" %}</h5>
                            </div>
                            <div class="card-block table-border-style">
                                <div class="table-responsive">
                                    <table class="table table-hover table-seance">
                                        <thead>
                                        <tr>
                                            <th>{% trans "Point" %}</th>
                                            <th>{% trans "Oui" %}</th>
                                            <th>{% trans "Non" %}</th>
                                            <th>{% trans "Abstention" %}</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for vp in voting_points_by_count  %}
                                        <tr>
                                            <td>
                                                <!--  0 in the url because it is not an amendment but a point-->
                                                <a  href="/seances/seance/{{vp.seance_id}}/{{ vp.id }}/0/">
                                                    {% if LANGUAGE_CODE == 'fr' %}
                                                    {{ vp.point_title_fr }}
                                                    {% else %}
                                                    {{ vp.point_title_nl }}
                                                    {% endif %}
                                                </a></td>
                                            <td>{% if vp.amendement_set.count < 1 %}
                                                {{ vp.totalvote_set.first.number_of_oui}}
                                                {% endif %}
                                            </td>
                                            <td>
                                                {% if vp.amendement_set.count < 1 %}
                                                {{ vp.totalvote_set.first.number_of_non }}
                                                {% endif %}
                                            </td>
                                            <td>{% if vp.amendement_set.count < 1 %}
                                                {{ vp.totalvote_set.first.number_of_abstention }}
                                                {% endif %}</td>
                                        </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-4">
                        <div class="card">
                            <div class="card-header">
                                <h5>{% trans "Séances récentes" %}</h5>
                            </div>
                            <div class="card-block px-0 py-3">
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <tbody>
                                        {% for seance in seances %}
                                        <tr>
                                            <td><a href="/seances/seance/{{seance.id}}/">{{ seance.seance_name }}</a></td>
                                            <td>{{ seance.seance_date|date:'d/m/Y' }}</td>
                                            <td>{{ seance.seance_legislature }}</td>
                                            <td><a href={{ seance.seance_url }}><i class="feather icon-paperclip"></i></a></td>
                                        </tr>
                                        {% endfor %}

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">

                    <div class="col-md-8">
                        <div class="card"><div class="card-header">
                                <h5>{% trans "Derniers commentaires" %}</h5>
                            </div>
                            <div class="card-block">
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <tbody>
                                        {% for comment in last_comments %}
                                        <tr>
                                            <td><a href="/redirect_from_comment/{{comment.id}}/">{{ comment.content }}</a></td>
                                        </tr>
                                        {% endfor %}

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-block">
                                <h6 class="mb-4">{% trans "Tags les plus populaires" %}</h6>
                                <div class="row d-flex align-items-center">
                                    <div class="col-12">
                                        {% for tag in tags %}
                                        <a href="/search/result/{{ tag.name }}"  ><span style="margin-bottom:13px;">{{tag.name}}</span></a>

                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-12 col-xl-8">
                        <div class="card">
                            <div class="card-block border-bottom">
                                <div class="row align-items-center justify-content-center">
                                    <h3>{% trans "Pourquoi ce site ?" %}</h3>
                                </div>
                            </div>
                            <div class="card-block">
                                <div class="row align-items-center justify-content-center card-active">
                                    <p>{% blocktrans %}Je veux simplement montrer qui a voté pour quoi afin que tout le monde, lors des élections, puisse facilement avoir accès à ce informations plus qu'importantes.
                                        Ici, vous pouvez voir pour quel sujet les politiciens ont voté et vous avez la répartition par parti.
                                        L'idée est donc simplement d'amener une information de la manière la plus visible possible.
                                        Beaucoup de choses se passent juste en face de nous, mais les moyens d'y avoir accès sont fastidieux et découragent vite les gens.{% endblocktrans %}
                                    </p>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-4">
                        <div class="card">
                            <div class="card-block border-bottom">
                                <div class="row align-items-center justify-content-center">
                                    <h3>{% trans "Qui suis-je ?" %}</h3>
                                </div>
                            </div>
                            <div class="card-block">
                                <div class="row align-items-center justify-content-center card-active">
                                    <p>{% trans "Juste un développeur qui veut s'investir plus dans notre pays. Vous pouvez me contacter à elalaoui87@gmail.com" %}</p><hr>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- [ Main Content ] end -->
            </div>
        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
